body {
  margin: 0;
  padding: 0;
  background: hsl(210deg 15% 6%);
  color: white;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100vh;
}
svg {
  display: block;
  outline: 1px solid hsl(210deg 15% 30%);
}


.head {
  fill: #cd803d;
}

.eye {
  fill: white;
}

.mouth {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

.limb {
  stroke: #cd803d;
  stroke-width: 35px;
  stroke-linecap: round;
}